@import "./variables" ;
@import "./mixins";

form {

    .button {
        @include button($white-color, $main-color, $main-color) ;
        font-size: 22px;
    }
}

a.ms-3  {
    color: $main-color;
}

.social-media-login {
    .login-button {
        color: $main-color;
        margin-right: 20px;
        margin-top: 10px;
        font-size: 25px;
        transition: all .5s ease;

        &:hover {
            color: rgba($color: $main-color, $alpha: .3);
        }
    }
}

@media(max-width:992px) {
    body {
        main {
            .vh-100 {
                height: 100% !important;
            }
        }
    }
    
}